.grid__header {
    align-self: center;
}

.grid__header__container {
    /* background-color: #DAACD5 !important */
}

.grid__header__text {
    color: #DAACD5 !important;
    /* margin-left: 20px !important; */
    /* text-align: center; */
}

.grid__header-btn {
    margin-left: 60px !important;
}

.grid__header--input {
    /* padding: 10px; */
    /* margin: 20px; */
}

.grid__item__container {
    margin-top: 10px;
}

.grid_item_input {
    align-self: center;
    width: 200px !important;
}

.grid__item {
    align-self: center;
}

.grid__item--text {
    align-self: center;
}

.grid__item--delete {
    align-self: center;
    margin-left: 22px !important;
}

.grid-border {
    border-bottom: 2px !important;
    border-color: aqua !important;
}

.paper {
    width: 90%;
    margin: 10px;
}

.paper__container {
    margin-top: 20px;
    width: 250px;
}