/* .typography__text {
    margin: 16px !important;
    color: #DAACD5 !important;
    margin-right: auto;
}

.grid-border {
    border-bottom: 2px !important;
    border-color: aqua !important;
}

.paper {
    width: 90%;
    margin: 10px;
}

.paper__container {
    margin-top: 20px;
    width: 250px;
} */